html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100%;
    grid-template: 15% repeat(3, 1fr)/25% repeat(3, 1fr);
}

.icons {
    place-self: flex-end;
}

.header {
    background-color: white;
    grid-area:1/2/2/5;
    display: grid;
    grid-template: 50% 50%; 
    padding: 0;
    border-bottom: gray solid;    
}

.upperHeader {
    overflow: hidden;
    grid-area: 1/1/2/3;
    display: grid;
    grid-template-columns: 75% 25%;
    padding-left: 0; 
}

.lowerHeader {
    overflow: hidden;
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 50% 50%;
}


.sidebar {
    grid-area: 1/1/5/2;
    background-color: #0ea5e9;
    color: white;
    padding-left: 7%;
    display: flex;
    flex-flow: column;
    gap: 1%;
}

.search {
    padding-left: 1px;   
    display: grid;
    grid-template-columns: 30px 1fr;
    padding-left: 3%;
    align-items: center;
    gap: 1%;    
}

.search input {
    width: 90%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    place-items: center left;
}

.topRight {
    place-self: center right;
    padding-right: 4%;
}

.topRight img {
    vertical-align: middle;
    margin-right: 2px;
}

.main {
    background-color: #cbd5e1;
    grid-area: 2/2/5/5;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%); 
}

.mainRight {
    grid-area: 1/4/5/5;
    padding-top: 3%;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.mainRightSection {
    display: grid;
    grid-template-rows: 10% 1fr;
    align-items: flex-start;
}

.main h1 {
    text-align: left;
    margin: 0;
    padding: 0;
}

button {
    background-color: #0ea5e9;
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 30px;
    border-style: solid;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

.buttons {
    place-self: center right;
    padding-right: 4%;
}

.projects h1 {
    padding: 2%;
 }

.projects {
    grid-area: 1/1/5/4;
    display: grid;
    grid-template-rows: 5% 95%;
}

.projectCards {
    display:grid;
    grid-template: 1fr 1fr 1fr/ auto auto;
    padding:3%;
    gap: 2%;
}

.projectCard {
    display: grid;
    grid-template-rows: 13% 72% 15%;
    border-left: 8px solid;
    border-color: orange;
}


.projectCard, .announcementCard, .trendingCard {
    background-color: white;
    padding: 3%;
    border-radius: 7px;
}

h1 {
    font-size: 20px;
    padding: 1%;

}

h2 {
    font-size: 15px;
}

.projectCard p {
    font-size: 15px;
}

h3 {
    font-size: 25px;
}

.username {
    font-size: 13px;
}

.lhName {
    font-size: 13px;
    font-weight: 600;
}

p {
    font-size: 10px;
}

.pagesLink p {
    font-size: larger;
    font-weight: 700;
}

.sidebar img {
    vertical-align: middle;
    padding-right: 5%;
}

.settingsSection p {
    font-size: larger;
    font-weight: 700;
}

.userImage {
    height: 60px;
    width: 60px;
}

.userImageLarge {
    height: 70px;
    width: 70px;
}

.welcomeCard {
    display: grid;
    grid-template-columns: 90px 1fr;
}

.trendingAccounts {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 8%;
}

.trendingAccountsImage {
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.trendingUsername {
    font-weight: 700;
    font-size: smaller;
}

.trendingUsersBio {
    font-size: small;
}