html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: grid;
    height: 100%;
    /* grid-template: repeat(4, 25%)/repeat(4, 25%); */
    grid-template: 15% repeat(3, 1fr)/repeat(4, 1fr);
}

.header {
    background-color: white;
    grid-area:1/2/2/5;
    display: grid;
    grid-template: 1fr 1fr/ auto auto; 
    padding: 0;
    border-bottom: gray solid ;
}

.upperHeader {
    grid-area: 1/1/2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0; 
}

.lowerHeader {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;    
}

.sidebar {
    grid-area: 1/1/5/2;
    background-color: #2563eb;
    color: white;
    padding-left: 7%;
}

.search {
    padding-left: 3%;   
    place-self: center left;
}

.search input {
    width: 95%;
}

.topRight {
    place-self: center right;
    padding-right: 5%;
}

.main {
    background-color: #cbd5e1;
    grid-area: 2/2/5/5;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%); 
}

.mainRight {
    grid-area: 1/4/5/5;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
    padding: 2%;
}

/* .mainRight div {
    padding-top: 5px;
} */

.main h1 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.buttons {
    padding-right: 5%;
    place-self: center right;
}

button {
    background-color: blue;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 30px;
}

.projects h1 {
    padding: 2%;
 }

.projects {
    grid-area: 1/1/5/4;
    display: grid;
    grid-template-rows: 5% 95%;
}

.projectCards {
    display:grid;
    grid-template: 1fr 1fr 1fr/ auto auto;
    padding: 3%;
    gap: 3%;
}

.projectCard {
    border-left: 8px solid;
    border-color: orange;
}

.projectCard, .announcementCard, .trendingCard {
    background-color: white;
    padding: 7%;
    border-radius: 7px;
}

.welcomeCard {
    place-self: center left;
    padding-left: 5%;
}

.icons {
    bottom: 0px;
    right: 0px;
    border: 1px;
    border-style: solid;
    border-color: black;   
}

h1 {
    font-size: 20px;
    padding: 1%;

}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 10px;
}